---
import Layout from "../layouts/Layout.astro"
---

<Layout title='Astro Blog'>
	<h1 class='mb-6 text-4xl'>Главная</h1>

	<div class='mb-10'>
		поиск
	</div>

	<div>
		<h3 class='text-2xl font-bold'>Публикации</h3>
	</div>
</Layout>
