---
import Navigation from "./-components/Navigation.vue"

interface Props {
	title: string
	isNavigation?: boolean
}

const { title, isNavigation = true } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
	<div class='container mx-auto'>
		{isNavigation && <Navigation  client:only='vue' />}
		<main>
			<slot />
		</main>
	</div>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		box-sizing: border-box;
	}
</style>
